services:
  redis:
    image: redis:alpine
    container_name: ceneo-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - /app/redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - ceneo-net
    entrypoint: ["/bin/sh", "-c", "chown -R 999:999 /data && chmod -R 770 /data && exec redis-server --appendonly yes"]

networks:
  ceneo-net:
    external: true