services:
  redis:
    image: redis:alpine
    container_name: ceneo-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - /app/redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - ceneo-net
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]

networks:
  ceneo-net:
    external: true